/*Style.css */

body {
	front-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

header {
	background-color: #3b7df7;
	color: white;
	text-align: center;
	padding: 1em;	
}
.logo-container {
	display: flex;
        align-items: center;
}
.logo {
	height: 70px;
	width: auto;
	border-radius: 10px;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.navigation a:hover {
    background-color: #3e8e41;
}

.navigation {
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	background-color: #45a049;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}
	
main {
	padding: 1em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;	
}

input[type="text"], input[type="url"]{
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
	padding: 0.5em;
	background-color: #4CAF50;
        color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;  
}

button:hover{
	background-color: #45a049;
}

#links-list ul {
	list-style-type: none;
	padding: 0;
	}

#links-list li{
	background-color: #f9f9f9;
	margin: 0.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 4px;
}
